.quiz-options{
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    margin: 5px auto 5px auto;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.question-holder{
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto 20px auto;
}