
.game-board{
  display: grid;
  width: max-content;
  margin: 5vh;
}












.game-cell{
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  border: 1px solid lightblue;
  padding: 2px;
  cursor: pointer;
  font-size: 14px;
  align-items: center;  
  display: flex;
  justify-content: center;
}
