.navbarContainer{
    width: 100%;
    background-color: lightcoral;
    padding: 10px;
    display: flex;
    flex-direction: flex-start;
    height: auto;
}
nav{
    display: flex;
    flex-direction: row;
}
.navbarOptions{
    padding: 5px;
    cursor: pointer;
    margin: auto 5px auto 25px;
}
.sandwichContainer{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}
.sandwichLayer{
    height: 4px;
    width: 40px;
    background-color: black;
    margin: 4px;
    display: flex;
    flex-direction: column;    
}
.sandwichOptionContainer{
    position: absolute;
    margin-top: 7vh;
}
.sandwichOption{
 border: 1px solid gray;
 padding: 5px;   
}
.sandwichOption:hover{
    background-color: lightgrey;
}