.componentContainer{
    margin: 40px;
    width: 25%;
}

.popoverContainer{
    border: 1px solid gray;
    text-align: left;
    margin-top: 5px;
    font-size: 14px;
    position: relative;
}

.popoverHeader{
    background-color: lightgray;
    padding: 5px 0px 5px 5px;
}

.popoverBody{
    padding: 10px 5px 10px 5px;
}